//Библиотеки
@import "libs/normalize";

//Шрифты, переменные
@import "variable/variable";
@import "fonts";

*{
    box-sizing: border-box;
}
body{
    position: relative;
}
h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1{
    font-family: 'Averta CY', sans-serif;
    font-weight: 700;
}
