//Библиотеки
@import "libs/normalize";

//Шрифты, переменные
@import "variable/variable";
@import "fonts";

*{
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Averta CY', sans-serif;
}
h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

li{
    list-style: none
}

a{
    text-decoration: none;
}

//Блоки
@import 'blocks/header/_header';
@import 'blocks/hero/_hero';
@import 'blocks/advantage/_advantage';
@import 'blocks/privilege/_privilege';


//Адаптив
@import 'media/_mobile';


