.advantage{
    background-color: $white;
    padding: 70px 0 233px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__classic{
        max-width: 640px;
        &-title{
            font-style: normal;
            font-size: 30px;
            line-height: 125%;
            text-transform: uppercase;
            color: $text-black;
            margin-bottom: 18px;
            span{
                display: block;
            }
        }
        &__block{
            padding: 24px 25px 30px;
            background: #FFFFFF;
            border: 3px solid #EAEAEB;
            width: 100%;
            &:not(:last-child){
                margin-bottom: 15px;
            }
            &:nth-child(1){
                max-height: 127px;
            }
            &:nth-child(4){
                padding-bottom: 34px;
            }
            &:nth-child(5){
                padding-bottom: 34px;
            }
            &:nth-child(7){
                padding-bottom: 60px;
                max-height: 160px;
                min-height: 160px;
            }
        }
        &__time{
            padding: 0 8px;
            background-color: $text-black;
            font-family: 'Averta CY';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            color: $white;
            display: inline-block;
            margin-bottom: 14px;
        }
        &__descr{
            font-family: 'Averta CY';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 130%;
            color: $text-black;
            opacity: 0.8;
        }
        &__res{
            padding: 0 10px;
            margin-bottom: 14px;
            font-family: 'Averta CY';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 130%;
            color: $white;
            display: inline-block;
            background-color: $text-black;
        }
        &__new{
            font-family: 'Averta CY';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 130%;
            color: $text-black;
            margin-bottom: 27px;
        }
        &__price{
            background: #FFFFFF;
            border: 3px solid #EAEAEB;
            padding: 48px 60px 124px 40px;
            &__title{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 125%;
                text-transform: uppercase;
                color: $text-black;
                margin-bottom: 25px;
                span{
                    color: #B52B46;
                }
            }
            &__block{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 15px;
                border-bottom: 1px solid #AEAEB1;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }
            &__left{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 130%;
                color: $text-black;
                opacity: 0.8;
            }
            &__rigth{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                color: #1E1E1E;
            }
            .advantage-red{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 130%;
                text-align: right;
                color: #B52B46;
            }
        }
    }

    &__full{
        max-width: 640px;
        width: 100%;
        max-height: 1675px;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 18px;
        }
        &-title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 125%;
            text-transform: uppercase;
            color: #1E1E1E;
            span{
                color: $red;
                display: block;
            }
        }
        &-hot{
            padding: 6px 15px;
            background-color: $red;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 130%;
            text-transform: uppercase;
            color: $white;
        }
        &__block{
            padding: 25px;
            background-color: $bg-grey;
            &:not(:last-child){
                margin-bottom: 15px;
                
            }
            
        }

        &__date{
            padding: 2px 10px;
            display: inline-block;
            margin-bottom: 16px;
            font-family: 'Averta CY';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 130%;
            color: $white;
            background: #B52B46;
        }
        &__list{
            li {
                margin: 0;
                padding: 0;
                padding-top: 14px;
                margin-bottom: 13px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
                color: $white;
                position: relative;
                border-top: 1px solid rgba(255, 255, 255, 0.24);
                span{
                    font-weight: 700;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            
        }

        &__descr{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 130%;
            color: $white;
            max-width: 80%;
        }
        &__price{
            padding: 48px 50px 81px 50px;
            background: #222427;
            &__title{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 125%;
                text-transform: uppercase;
                color: $white;
                margin-bottom: 22px;
                span{
                    padding: 3px;
                    color:$white;
                    background-color: $red;
                }
            }
            &__block{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:nth-child(-n+5){
                    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                }
                &:last-child{
                    margin-top: 30px;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

            }
            
            &__left{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 130%;
                color: $white;
                opacity: 0.8;
            }
            &__rigth{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                text-align: right;
                color: $white;
            }
            .advantage-red{
                color: $red;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 130%;
            }
            &__econ{
                font-family: 'Averta CY';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 130%;
                color: $white;
                span {
                    padding: 5px 10px;
                    background-color: $red;
                }
            }
        }
    }

    .result{
        min-height: 160px;
    }
}